  <style>
    /* Always set the map height explicitly to define the size of the div
    * element that contains the map. */
      #map {
        height: 700px;
        width: 800px;
      }
    </style>
  <div id="map"></div>
  <script>
    function myMap() {
    var mapCanvas = document.getElementById("map");
    var myCenter = new google.maps.LatLng(40.9955239,39.7727757);
    var newMarker = new google.maps.LatLng(40.9934030,39.7759000);
    var mapOptions = {center: myCenter, zoom: 17};
    var map = new google.maps.Map(mapCanvas, mapOptions);
    var marker = new google.maps.Marker({
      position:newMarker,
      icon: "pinkball.png",
      map: map
    });
  }
  </script>
  <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyB-s4spIbfdJ2Yp82XoDv6x4OzgZUTWAb0&callback=initMap"
  async defer></script>
